p {
  color: #4D4D4D;
  font-family: Mansalva;
}

#upperDesign {
  display: flex;
  flex-direction: row;
  height: 500px;
}
.cardDesign {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

@media only screen and (max-width: 481px) {
  #upperDesign {
    display: flex;
    flex-direction: column;
    height: 400px;
    margin: 10px;
  }
  .cardDesign {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
